---
export const prerender = true;

import { sanityClient } from 'sanity:client';
import { marked } from 'marked';
import { type Post } from '../../models/Post';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug.current)]`) as Post[];
  return posts.map((post) => {
      return {
        params: {
          slug: post.slug.current,
        },
    };
  });
}
marked.setOptions({
  breaks: true,  // Esto fuerza que los saltos de línea simples sean respetados
});
const { slug } = Astro.params;
const { title, body } = await sanityClient.fetch(`*[_type == "post" && slug.current == $slug][0]`, { slug });
const content = marked.parse(body);
console.log(body)
console.log(content)
---

<Layout title={title}>
    <main>
        <a href="/">Volver atrás</a>
        <section class="text-light m-8">
            <h1 class="text-5xl">{title}</h1>
            <article class="" set:html={content} />
        </section>
    </main>
</Layout>


<style>
	main {
		margin: auto;
		width: 1200px;
		padding: 1rem;
		max-width: calc(100% - 1rem);
		color: white;
	}
</style>
